{% extends "layout.html" %}
{% block content %}
<head>
	<script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
</head>

{% macro form_css() %}
  <link href="{{ admin_static.url(filename='vendor/select2/select2.css', v='3.5.2') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/select2/select2-bootstrap3.css', v='1.4.6') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs3.css', v='1.3.22') }}" rel="stylesheet">
  {% if config.MAPBOX_MAP_ID %}
  <link href="{{ admin_static.url(filename='vendor/leaflet/leaflet.css', v='1.0.2') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/leaflet/leaflet.draw.css', v='0.4.6') }}" rel="stylesheet">
  {% endif %}
  {% if editable_columns %}
  <link href="{{ admin_static.url(filename='vendor/x-editable/css/bootstrap3-editable.css', v='1.5.1.1') }}" rel="stylesheet">
  {% endif %}
{% endmacro %}

{% macro form_js() %}
  {% if config.MAPBOX_MAP_ID %}
  <script>
  window.MAPBOX_MAP_ID = "{{ config.MAPBOX_MAP_ID }}";
  {% if config.MAPBOX_ACCESS_TOKEN %}
  window.MAPBOX_ACCESS_TOKEN = "{{ config.MAPBOX_ACCESS_TOKEN }}";
  {% endif %}
  {% if config.DEFAULT_CENTER_LAT and config.DEFAULT_CENTER_LONG %}
  window.DEFAULT_CENTER_LAT = "{{ config.DEFAULT_CENTER_LAT }}";
  window.DEFAULT_CENTER_LONG = "{{ config.DEFAULT_CENTER_LONG }}";
  {% endif %}
  </script>
  <script src="{{ admin_static.url(filename='vendor/leaflet/leaflet.js', v='1.0.2') }}"></script>
  <script src="{{ admin_static.url(filename='vendor/leaflet/leaflet.draw.js', v='0.4.6') }}"></script>
  {% if config.MAPBOX_SEARCH %}
  <script>
  window.MAPBOX_SEARCH = "{{ config.MAPBOX_SEARCH }}";
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{ config.get('GOOGLE_MAPS_API_KEY') }}"></script>
  {% endif %}
  {% endif %}
  <script src="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker.js', v='1.3.22') }}"></script>
  {% if editable_columns %}
  <script src="{{ admin_static.url(filename='vendor/x-editable/js/bootstrap3-editable.min.js', v='1.5.1.1') }}"></script>
  {% endif %}
  <script src="{{ admin_static.url(filename='admin/js/form.js', v='1.0.1') }}"></script>
{% endmacro %}

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
	var elems = document.querySelectorAll('.datepicker');
	var instances = M.Datepicker.init(elems, options);
	});
</script>

<div>
	<form method="POST" action="/find" enctype="multipart/form-data">
		<div class = "filter right-align">
			<h3 class="card"><span class="black-text cyan center-align"><b>FILTER</b> </span></h2>
			<div class = "amber lighten-1 col s3 hoverable">
				<h5><b><span class = "black-text center-align"> Date </span></b></h5>
				 {% if form.date.errors %}
					{{ form.date(class="datepicker form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.date.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.date(class="datepicker form-control form-control-lg") }}
				{% endif %}

			</div>
			<hr>
			
			<hr>
			<div class = "amber lighten-1 col s3 hoverable">
				<span class = "black-text center-align"><b> Range </b></span>
			</div>
			<hr>
			<div class = "amber lighten-1 col s3 hoverable">
				<h5><span class = "black-text center-align"><b>Another Filter </b></span></h5>
			</div>
			<hr>
			<div class="col s3 form-group center-align">
				<a href = "{{url_for('filter')}}"> {{ form.submit(class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text") }} </a>
			</div>
		</div>
	</form>

	<div class = "col s9">
		row wala
	</div>
</div>

<div>
	blah blah
</div>

<script src="script.js"></script>


{% endblock content %}