{% extends "layout.html" %}
{% block content %}
<head>
	<script data-require="jquery@1.12.4" data-semver="1.12.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
</head>
<br>

<div class="pg">
		<ul class="pagination center-align col s12 row">
		<li class="btn-small btn-flat amber lighten-4 waves-effect"><a href= "{{url_for('regUser')}}">Your details</a></li>
		<li class="btn-small btn-flat amber active">Find organizers</li>
		<li class="btn-small btn-flat disabled">View profiles</li>
		<li class="btn-small btn-flat disabled">Shortlist</li>
		</ul>
</div>
<div>
	<form method="POST" action="/find" enctype="multipart/form-data">
		<div class = "filter right-align">
			<div class = "amber lighten-1 col s3 hoverable">
				<h5><b><span class = "black-text center-align"> Date </span></b></h5>
				{% if form.dateUser.errors %}
					{{ form.dateUser(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.dateUser.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.dateUser(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<hr>
			<div class = "amber lighten-1 col s3 hoverable">
				<h5><b><span class = "black-text center-align"> Venue </span></b></h5>
				{% if form.venueUser.errors %}
					{{ form.venueUser(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.venueUser.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.venueUser(class="form-control form-control-lg") }}
				{% endif %}
				<br>
			</div>
			<hr>
			
			<div class="col s3 form-group center-align">
				<a href = "{{url_for('filter')}}"> {{ form.submit(class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text") }} </a>
			</div>
		</div>
	</form>

	<div class = "col s9">
		{% if orgList != []: %}
			<h4><b> These organizers match your criteria </b></h4>
			{% for org in orgList: %}
			{
				<h6> {{ org[0] }} </h6><b><br>
				{{ org[1] }} <br>
				{{ org[2] }} <br>
				{{ org[3] }} <br>
				{{ org[4] }} <br>
			}
			{% endfor %}
		{% else %}
			<h4> No matching organizers found :( </h4>
		{% endif %}
	</div>
</div>


<script src="script.js"></script>


{% endblock content %}