<!DOCTYPE html>
<html>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="shortcut icon" href="static/logo.ico">

<head>
    <!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
</head>

<body>
<br><br><br><br><br><br><br><br><br>

	<div class="container valign center-align">
	    <h1 class = "white-text"><b>ManagEvent</b></h1>
		<div class = "row">
			<h3><p><a href="{{ url_for('regOrg') }}" class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text">I organise events</a>
			<a href="{{ url_for('login') }}" class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text">Login</a>
			<a href="{{ url_for('regUser') }}" class="button-border hoverable waves-effect waves-light btn-large amber lighten-3 black-text">I want my events organised</a></p>
			</a></h3>
		</div>
	</div>

	</header>

	<div class = "footer">
		<h4 class ="pink-text darken-4"><b>blah blah</b></h4>
		<p class = "white-text">© 2019 <b>Forked from trinity</b></p>
	</div>

</body>
</html>
